@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
/*
font-family: 'Playfair Display', serif; Rubriker
font-family: 'Raleway', sans-serif; Underrubriker
font-family: 'Source Sans 3', sans-serif; Brödtext
*/

/*Document basics*/


:root {
  --primary: hsl(0, 91%, 64%);
  --primaryalt: #ab2525;
  --secondary: #26ab4b;
  --secondaryalt: #025e1c;
  --black: #262626;
  --white: #f6efef;
  --green: #568026;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}

a,
li {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: var(--white);
  list-style: none;
}

/*^^^^^^dcmnetbsics*/

/*Navbar*/
.mobiletitle {
  display: none;
}
nav {
  position: relative;
  width: 100%;
  padding: 0px 2rem 0 0.5rem;
  display: flex;
  align-items: center;
  background-color: var(--black);
  justify-content: space-between;
}
nav::before {
  content: "";
  position: absolute;
  height: 0.6rem;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ab2525;
}
.logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.navul {
  display: flex;
  gap: 1rem;
}
.navlink {
  position: relative;
}
.hamburgerpart:nth-child(1).active {
  transform: rotate(45deg) translate(0.4rem, 1rem);
  background-color: var(--primary);
}
.hamburgerpart:nth-child(2).active {
  opacity: 0;
}
.hamburgerpart:nth-child(3).active {
  transform: rotate(-45deg) translate(0.4rem, -1rem);
  background-color: var(--primary);
}
.hamburgerpart.active{
  box-shadow: unset;
}
.navul.active {
  transform: translateY(100%);
  opacity: 1;
}



.navlink::after {
  left: 0;
  bottom: -0.3rem;
  position: absolute;
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: var(--primary);
  transition: 0.2s;
  transform: scaleX(0);
  transform-origin: left;
}

.navlink:hover::after {
  transition: 0.2s;
  transform: scaleX(1);
}

.logocontainer {
  display: flex;
  align-items: center;
}
.navtitle {
  font-family: "Playfair Display", serif;
  color: var(--white);
  font-size: 2rem;
}
.librarytext {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  border: 2px solid var(--primary);
  color: var(--primary);
  transform: translate(-3rem, 1rem) rotate(-10deg);
}
.hamburgercontainer {
  height: 2.5rem;
  position: fixed;
  justify-content: space-between;
  width: 3rem;
  display: none;
  flex-direction: column;
  right: 2%;
  z-index: 100;
}
.hamburgercontainer:hover {
  cursor: pointer;
}
.hamburgerpart {
  height: 0.5rem;
  width: 100%;
  transition: 0.2s;
  box-shadow: 1px 2px 3px black;
  background-color: var(--white);
  border-radius: 50px;
}
.navhide {
  display: none;
}
/*^^^^^nvbar*/
/*header*/
.hero {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.herogridcontainer {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.herogridcontainer > * {
  grid-column: 1/2;
  grid-row: 1/2;
}
.search {
  width: 50%;
  height: 6rem;
  display: flex;
  flex-direction: column;
}
.formwrap {
  display: flex;
}
#searchbar {
  font-size: 1.6rem;
  width: 100%;
  height: 3rem;
  border-top: 2px solid var(--black);
  border-right: none;
  border-bottom: 2px solid var(--black);
  border-left: 2px solid var(--black);
  background-color: var(--white);

  outline: none;
  padding-left: 1rem;
}
.extra {
  min-height: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--black);
  justify-content: start;
}
form label {
  color: var(--white);
}
#filters {
  appearance: none;
  text-align: center;
  background-color: var(--black);
  height: 100%;
  outline: transparent;
  color: var(--white);
  border: none;
}
#filters:focus {
  outline: 2px solid var(--white);
}
option {
  padding-inline: 3px;
  outline: transparent;

  border: none;
  color: var(--white);
}

.submitbtn {
  all: unset;
}

.buttonwrap {
  all: unset;
  background-color: var(--white);
  border: 2px solid var(--black);
  display: flex;
  padding: 0 0.5rem;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.buttonwrap:focus {
  box-shadow: inset 0px 0px 4px black;
}
.buttonwrap span {
  font-size: 2rem;
}
.buttonwrap:hover {
  background-color: var(--secondary);
  transition: 0.4s;
  cursor: pointer;
}
.buttonwrap:hover span {
  color: var(--white);
}
.checkbox {
  appearance: none;
  height: 1rem;
  margin: 0 0.5rem;
}
.extra label::first-letter {
  color: var(--primary);
}
#books::after {
  content: "Books";
  color: var(--white);
  padding: 0 0.5rem;
  border-radius: 5px;
  font-weight: 600;
  border: 2px solid var(--white);
}
.checkbox:hover {
  cursor: pointer;
}
#articles::after {
  content: "Articles";
  color: var(--white);
  padding: 0 0.5rem;
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid var(--white);
}
#books:checked:after,
#articles:checked::after {
  color: var(--primary);
  border: 2px solid var(--primary);
}

/*Main*/
body {
  background-color: var(--white);
}
main {
  box-shadow: 0px 0px 10px var(--black);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  background-color: var(--black);
  min-height: 100vh;
  margin: 0 auto;
}
main h1 {
  position: relative;
  padding-bottom: 1rem;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  color: var(--white);
}
.logincard h2 {
  padding-top: 2rem;
  color: var(--white);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  z-index: 2;
  align-self: self-start;
  text-shadow: 2px 2px 3px black;
  transition: 1s;
  position: relative;
}
.logincard h2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.15rem;
  background-color: var(--primary);
  left: 0;
  bottom: -1rem;
  transition: 0.4s;
}
.logincard:hover h2::after {
  transform: scalex(1.5);
  transition: 0.4s;
}
.logincard:hover img {
  transform: scale(1.1);
  transition: 1s;
}
.logincard img {
  transition: 0.5s;
}
.logincard:hover .gradient {
  transition: 1s;
  opacity: 0;
}
.logincard:hover p {
  transform: translateY(-10px);
  transition: 1s;
}
.logincard:hover h2 {
  transform: translateY(10px);
  font-size: 2rem;
  transition: 1s;
}
.logincard-1 {
  grid-row: 1/3;
}
.logincard-2 {
  grid-row: 3/6;
}
.logincard p {
  transition: 1s;
  padding-bottom: 2rem;
  align-self: end;
  color: var(--white);
  z-index: 3;
  font-weight: 600;
  text-shadow: 2px 2px 3px black;
}
.logincard {
  overflow: hidden;
  min-height: 15rem;
  grid-column: 3/4;
}
.logincard:hover {
  cursor: pointer;
}
section {
  margin: 5rem 0px;
}
.gridsection {
  margin: 5rem 0rem 0rem 0rem;
  display: grid;
  width: 90%;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.nystudent,
.login-student {
  object-fit: cover;
  width: 100%;
  z-index: 1;
  height: 100%;
}
.titlecontainer {
  grid-row: 4/6;
  grid-column: 1/3;
}
.titlecontainer h3 {
  min-width: 18%;
}

.titlecontainer h3::after,
main h1::after {
  left: 0;
  bottom: 25%;
  position: absolute;
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: var(--primary);
}

.titlecontainer h4 {
  color: var(--white);
}
.titlecontainer h3 {
  position: relative;
  width: fit-content;
  color: var(--white);
  padding-bottom: 1rem;
  font-family: "Raleway", sans-serif;
}
.bookcontainer {
  overflow-x: scroll;
  position: relative;
}

.bookcontainer::-webkit-scrollbar {
  width: 10%;
  height: 10px;
  border-radius: 20px;
  background-color: var(--black);

}

.bookcontainer::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border: none;
  border-radius: 20px;
 
}

.bookcontainer::-webkit-scrollbar-thumb:hover {
  background-color: var(--primaryalt);
}
.bookdata img {
  height: 100px;
}
.bookdata {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.bookinfo {
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  padding: 3px 2rem;
  position: absolute;
  opacity: 0;
  width: 80%;
  left: -100%;
  transition: 1s;
  height: 80%;
}
.bookdata:hover {
  cursor: pointer;
}
.bookdata:hover .bookinfo {
  opacity: 1;
  transition: 0.5s;
  transform: translateX(133%);
}
.gradient {
  transition: 1s;
  width: 100%;
  height: 100%;
  z-index: 2;

  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0.3) 100%
  );
}
.mainarticle {
  box-shadow: 5px 5px 8px #202020, -5px -5px 8px #2c2c2c;
  padding: 1rem;
  margin-left: -1rem;
  grid-column: 1/3;
  grid-row: 1/4;
}
.mainarticle p {
  color: var(--white);
}

.article {
  border-radius: 6px;
}

/*Carousel*/
.eventbutton {
  z-index: 3;
  align-self: flex-end;
  margin-bottom: 5rem;
  box-sizing: content-box;
  padding: 0.2rem 2rem;
  width: 10%;
  background-color: var(--white);
  color: var(--black);
  border-radius: 3px;
  font-family: "raleway", sans-serif;
  font-weight: 500;
  border: 3px solid var(--black);
  transition: 0.5s;
}
.eventbutton:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--white);
  transition: 0.5s;
  border: 3px solid var(--primaryalt);
  transform: scale(1.1);
}
.carousel {
  position: relative;
  width: 100%;
  height: 450px;
}
.carousel-card {
  position: absolute;
  width: 100%;
  height: 100%;
}
.card1,
.card2,
.card3 {
  opacity: 1;
}
.card1 {
  animation: slideshow1 30s infinite cubic-bezier(0.635, 0, 0.25, 0.995);
}
.card2 {
  animation: slideshow2 30s infinite cubic-bezier(0.635, 0, 0.25, 0.995);
}
.card3 {
  animation: slideshow3 30s infinite cubic-bezier(0.635, 0, 0.25, 0.995);
}
.carousel-img {
  object-fit: cover;
  width: 100%;
  height: 450px;
  z-index: 0;
}
.carousel-content {
  z-index: 1;
  color: var(--white);
  align-self: end;
}
.carousel-title {
  z-index: 1;
  color: var(--white);
  font-family: "Raleway", sans-serif;
}
.carousel-title::first-letter {
  color: var(--primary);
}
.carouselcontainer {
  z-index: 3;
  text-shadow: 2px 2px 3px black;
  /* text-align: center; */
}

/*TOOL CARDS*/

.librarytools {
  justify-content: center;

  gap: 3rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.toolright h4 {
  position: relative;
}
.toolright h4::after {
  content: "";
  position: absolute;
  width: 130%;
  height: 6px;
  background-color: var(--primaryalt);
  left: -20%;

  bottom: -0.75rem;
}
.libtool-card:hover .toolright h4::after {
  background-color: var(--black);
  transform: scalex(0.8) translateX(6%);
  transition: 0.5s;
  border-radius: 5px;
}
.toolright {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  align-items: start;
  padding-inline: 1rem;
  transition: 0.3s;
  color: var(--white);
}
.libtool-card:hover .toolright {
  background-color: var(--primaryalt);
  transition: 0.3s;
}

.libtool-card:hover {
  cursor: pointer;
  transform: translateY(-15px);
  transition: 0.3s ease-in-out;
  box-shadow: 10px 20px 5px black;
}
.libtool-card {
  display: flex;
  width: 18rem;
  height: 8rem;
  background-color: rgba(247, 79, 79, 0.1);
  transition: 0.3s;
  box-shadow: 5px 5px 5px black;
}
.libtool-card h4 {
  font-family: "raleway", sans-serif;
}
.toolleft {
  height: 100%;
  width: 3rem;
  background-color: var(--primaryalt);
}

/* Filler content */

/*repeat( auto-fit, minmax(15rem, 1fr) )*/
.fillercontent {
  display: grid;
  width: 90%;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr) 260px;
  grid-template-rows: auto;
}
.fillerart h3 {
  width: fit-content;
  position: relative;
}
.rightart {
  background-color: rgba(247, 79, 79, 0.1);
}
.fillerart {
  padding: 5px;
  color: var(--white);
  border-radius: 5px;
  padding: 1rem;

  box-shadow: 5px 5px 8px #202020, -5px -5px 8px #2c2c2c;
}
.fillerart p {
  margin: 1rem 0;
}
aside {
  display: flex;
  flex-direction: column;
  grid-column: 4/5;
  grid-row: 1/6;
  gap: 20px;
}

.leftart {
  grid-column: 1/4;
}
.fillerart h3::after {
  left: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 0.1rem;
  background-color: var(--primary);
}

footer {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--primaryalt);
  grid-template-columns: 1fr 1fr 1fr;
}
.footerlogo {
  margin: 1rem 0;
  height: 100px;
  position: relative;
  width: 50%;
  padding-right: 1rem;
  object-fit: contain;
  border-right: 2px solid var(--white);
}
footer ul {
  width: 50%;
  padding-left: 3rem;
}

.footwrap {
  display: flex;
  align-items: center;
  justify-self: center;
}

.socials {
  color: var(--white);
  justify-self: flex-start;
  padding-left: 1rem;
}
.mediaicons {
  font-size: 2rem;
  color: var(--white);
}
.openinghours {
  justify-self: flex-end;
  padding-right: 1rem;
  color: var(--white);
  font-weight: 500;
}
.openinghours h3 {
  font-family: "raleway", sans-serif;
  font-weight: 400;
}
.openinghours h4 {
  font-weight: 300;
  font-family: "raleway", sans-serif;
}
.fa-brands:hover {
  cursor: pointer;
}
.fa-square-facebook:hover {
  color: rgb(21, 21, 218);
}

.fa-instagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-youtube:hover {
  color: red;
}

.fa-snapchat:hover {
  color: yellow;
}
.fa-tiktok:hover {
  color: black;
}
.fa-twitter:hover {
  color: rgb(120, 190, 214);
}

@keyframes slideshow1 {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideshow2 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slideshow3 {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 1175px) {
  .gridsection {
    grid-template-columns: 1fr 1fr;
  }
  .mainarticle {
    grid-column: 1/3;
    grid-row: 1/3;
    margin-left: 0;
    margin-inline: -1rem;
  }
  .logincard-1 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .logincard-2 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 1000px) {
  .navtitle.hidemobile {
    display: none;
  }
  .mobiletitle {
    display: flex;
  }
  .librarytext {
    transform: translate(0.75rem, 0.2rem) rotate(0deg);
  }
}
@media screen and (max-width: 767px) {
  .mobileNav * {
    padding: 2rem;
    width: 100vw;
  }
  .navlink::after {
    all: unset;
  }
  .navul{
    all: unset;
  }
  .navlink:hover {
    color: var(--primary);
    transition: 0.3s;
  }
  .mobileNav {
    position: fixed;
   
    width: 100vw;
    font-size: 10vh;
    top: -100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    height: 100vh;
    height: 100dvh;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
  
    backdrop-filter: blur(10px);
  }
  .hamburgercontainer {
    display: flex;
  }
  .hidemobile {
    display: none;
  }
  .search {
    width: 80%;
  }

  main {
    width: 98%;
  }
  nav {
    padding: 0;
  }

  footer {
    display: flex;
    flex-direction: column;
  }
  .fillercontent {
    display: flex;
    flex-direction: column;
  }
  .carousel-card * {
    text-align: center;
  }
  .openinghours {
    padding-bottom: 30px;
  }
  #mobileNav {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .logincard h2 {
    font-size: 1.2rem;
  }
  .logincard p {
    font-size: 0.7rem;
  }

  #searchbar {
    font-size: 1.4rem;
  }
  .hamburgercontainer {
    margin-right: 12px;
  }
}
